@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap');
@import "var";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: $bg;
  font-family: Cabin, sans-serif;
}

.wrapper {
  padding-left: 120px;
}

button {
  background: transparent;
  outline: none;
  border: none;
}

.main {
  padding: 25px;
}